//* VARS:

// COLORS:

// + text color for dark theme:
$color-bg-primary-light: #F4F4F4; 
$color-bg-primary-dark: #2E2E2E;
$color-bg-dropdown: #F8F8F8;
$color-bg-location: rgba(254, 254, 255, 0.3);

$color-text-primary: #111321;

$color-white-primary:#FFFFFF;
$color-grey-primary: #A8A8A8;
$color-grey-secondary: #5F6775;
$color-green-primary: #00DD73;
$color-blue-primary: #4440F6;
$color-blue-transp: rgba(68, 64, 247, 0.7);
$color-blue-secondary: #4B48DB;

$border-radius-big: 20px;
$border-radius-middle: 4px;
$border-radius-small: 2px;


$transition-options: 250ms, cubic-bezier(0.4, 0, 0.2, 1);


// FONTS:

// 'Manrope' font-style: normal; font-weight: 700;
// 'Manrope' font-style: normal; font-weight: 500;
// 'Manrope' font-style: normal; font-weight: 400;
// 'Poppins' font-style: normal; font-weight: 400; <---------- togle element & date collections
//  'Roboto'; font-style: normal; font-weight: 400; <--------- Weather widget ???


